@import "reset";
@import "header";
main {
  height: 1000px;
}
.cont1 {
  background: url(../images/dawn-nature-sunset-trees.jpg) 50% 150% no-repeat;
  /* Set a specific height */
  height: 50%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
}

.cont2 {
  height: 200px;
  line-height: 200px;
  background-color: #e2dada;
  font-size: 20px;
  text-align: center;
}

.cont3 {
  background-image: url(../images/landscape-nature-man-person.jpg);
  /* Set a specific height */
  min-height: 900px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cont4 {
  height: 200px;
  background-color: #f4bebe;
  font-size: 26px;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  display: flex;

  p {
    margin: auto;
    display: block;
    line-height: 1.5;
  }
}
.cont5 {
  background: url(../images/pexels-photo-39811.jpeg) 50% 70% no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  position: relative;
  .inner {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 30%;
    background: rgba(235, 235, 235, 0.8);
    padding: 20px;
    font-size: 20px;
    color: #000;
  }
  .inner1 {
    position: absolute;
    bottom: 20%;
    right: 20%;
    width: 30%;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    font-size: 20px;
    color: #fff;
  }
}
@import "footer";
@import "media";
